@model MVCAppDay4Demo.Models.Product
<div>

    <a href="/Products/index"> Go to List </a> |
    @Html.ActionLink("Go to List","Index") |
    <a asp-action="Index"  class="btn btn-success">Go to List</a>


    @*<form action="/Products/create" method="post"> *@

       
@using(Html.BeginForm("create", "Products", FormMethod.Post))
{
        <fieldset>
            <legend> Create New Product</legend>
              <div class="row">
                @* <div class="row">
                    <label for="txtID"> ID </label>
                    <input type="text" id="txtID" name="ID" readonly="readonly" class="form-control" />
                </div> *@
                <div class="row">
                    <label for="txtName"> Name </label>
                    @* <input type="text" id="txtName" name="Name" class="form-control" placeholder="Enter Product Name" /> *@

                    @Html.TextBoxFor(m=>m.Name)
                </div>
                <div class="row">
                    <label for="txtPrice"> Price </label>
                    <input type="number" id="txtPrice" name="Price" class="form-control" placeholder="Enter Product Price " />
                </div>
                    <div class="row">
                   <label for="txtDescription"> Description </label>
                   <input type="text" id="txtDescription" name="Description" class="form-control" placeholder="Enter Product Description" />
                </div>
                <br />
                <br />
                <div class="row">
                    <input type="submit" value="Create" class="btn-success" />
                </div>
              </div>
        </fieldset>

}
 @* </form> *@
</div>

   
               
